body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%
}

#root {
  background-image: url('./assets/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
